# ============================================
# DJANGO CORE
# ============================================
asgiref==3.8.1
Django==5.1.7
sqlparse==0.5.3
tzdata==2025.2
django-axes==6.5.1
djangorestframework-simplejwt==5.4.0
cryptography==44.0.2
django-ratelimit==4.1.0
bandit==1.8.3

# ============================================
# BANCO DE DADOS
# ============================================
psycopg[binary]==3.2.5

# ============================================
# CONFIGURAÇÃO E VALIDAÇÃO
# ============================================
python-dotenv==1.0.1
validate-docbr==1.11.1

# ============================================
# UPLOAD E MANIPULAÇÃO DE IMAGENS/ARQUIVOS
# ============================================
Pillow==11.1.0

# ============================================
# INTERFACE ADMINISTRATIVA
# ============================================
django-jazzmin==3.0.4

# ============================================
# SEGURANÇA
# ============================================
django-csp==4.0

# ============================================
# SERVIDOR WSGI (Produção)
# ============================================
gunicorn==23.0.0